/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

gradlew\.bat

gradlew

gradle\.properties

app/proguard-rules\.pro

app/src/androidTest/

app/src/test/
